.container {
  background: #EAFFE6;
  max-width: 40%;
  margin: 10px;
  padding: 10px;
}
.container ul {
  padding: 0;
  list-style-type: none;
}
.container ul li {
  padding: 10px;
}
.container ul li:nth-child(1) {
  background-color: #c682ff;
}
.container ul li:nth-child(2) {
  background-color: #ff82f9;
}
.container ul li:nth-child(3) {
  background-color: #ff82bb;
}
.container ul li:nth-child(4) {
  background-color: #ff8882;
}
.container ul li:nth-child(5) {
  background-color: #ffc682;
}
